@model System.Data.DataTable

<h2>Pending Student Registrations</h2>

<table border="1" class="table">
    <tr>
        <th>Email</th>
        <th>Action</th>
    </tr>

    @foreach (System.Data.DataRow row in Model.Rows)
    {
        <tr>
            <td>@row["Email"]</td>
            <td>
                <form method="post" action="/Account/ApproveStudent" style="display:inline-block;">
                    <input type="hidden" name="id" value="@row["Id"]" />
                    <button class="btn btn-sm btn-success">Approve</button>
                </form>

                <form method="post" action="/Account/RejectStudent" style="display:inline-block;">
                    <input type="hidden" name="id" value="@row["Id"]" />
                    <button class="btn btn-sm btn-danger">Reject</button>
                </form>
            </td>

        </tr>
    }
    
</table>
<a href="/Account/AdminDashboard" class="btn btn-secondary">
    Back
</a>
