<div class="container mt-4">
    <h2 class="mb-3">Super Admin Dashboard</h2>

    <div class="alert alert-success">
        Welcome SuperAdmin: <b>@Session["UserEmail"]</b>
    </div>

    <div class="list-group">
        <a class="list-group-item" href="/Account/PendingAdmins">Approve Admins</a>

        
    </div>

    <br />
    <a class="btn btn-danger">@Html.ActionLink("Logout", "Logout") </a>
</div>
