<div class="container mt-4">
    <h2>Super Admin Dashboard</h2>

    <ul>
        <li>
            <a href="/Account/PendingAdmins">
                Approve Admin Registrations
            </a>
        </li>

        <li>
            <a href="/Account/Logout">
                Logout
            </a>
        </li>
    </ul>
</div>
