<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-success text-white">
            <h3>Exam Result</h3>
        </div>
        <div class="card-body">
            <p><b>Total Questions:</b> @ViewBag.Total</p>
            <p><b>Correct Answers:</b> @ViewBag.Correct</p>
            <p><b>Marks Obtained:</b> @ViewBag.Marks</p>

            <a href="/Account/StudentDashboard"
               class="btn btn-primary">
                Go to Dashboard
            </a>
        </div>
    </div>
</div>
